<<<<<<<<< Temporary merge branch 1
<footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Copyright yousef -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
=========
  <footer class="footer" dir="rtl">

  <div class="footer-right">

    <span>
      © {{ currentYear }} NGO ERP
    </span>

    <span>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
>>>>>>>>> Temporary merge branch 2
      © 2020 Copyright:
      <a class="text-body" href="https://yousef.com/">yousef.com</a>
     </div>
    </span>

  </div>

    <div class="footer-copyright">
      © 2026 Copyright: <span>yousef.com</span> - جميع الحقوق محفوظة
    </div>

    <div class="footer-language">
      <i class="bi bi-globe"></i>
      <span>العربية</span>
    </div>
  </div>
</footer>
