  <footer class="footer" dir="rtl">

  <div class="footer-right">

    <span>
      © {{ currentYear }} NGO ERP
    </span>

    <span>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2020 Copyright:
      <a class="text-body" href="https://yousef.com/">yousef.com</a>
     </div>
    </span>

  </div>


  <div class="footer-center">

    <span class="footer-leaf">
      🌿
    </span>

    <span>
      معًا من أجل غدٍ أفضل
    </span>

  </div>


  <div class="footer-left">

    <a routerLink="/privacy">
      سياسة الخصوصية
    </a>

    <a routerLink="/terms">
      شروط الاستخدام
    </a>

    <a routerLink="/support">
      الدعم الفني
    </a>

    <button>
      العربية 🌐
    </button>

  </div>

  </footer>
